body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    overflow-x: hidden;
}
footer{
    background-color: #0c0c0c;
    
   

}
.ebi{
    position: absolute;
    
    width: 1000px;
}
 

.header {
    position: sticky;
    
    width: 100%;
    padding: 10px 20px;
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.site-title {
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(90deg, #2F84FF 50%, #FFFFF7 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    padding: 10px;
    animation: gradientAnimation 5s ease infinite;
    text-shadow: 2px 2px 5px rgba(123, 122, 122, 0.817);
}
.proj {
   
    font-weight: bold;
    background: linear-gradient(90deg, #2F84FF 50%, #FFFFF7 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    
    animation: gradientAnimation 5s ease infinite;
    text-shadow: 2px 2px 5px rgba(123, 122, 122, 0.817);
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
    margin-right: 10px;
}

.site-name {
    font-size: 20px;
}

.outer-nav {
    display: flex;
    align-items: center;
}

.nav-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.body {
    display: flex;
    height: calc(100% - 60px);
    overflow-y: auto;
    
}


.nav {
    width: 250px;
    height: 100%;
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.nav.active {
    transform: translateX(0);
}

.line-container {
    position: relative;
    width: 60px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.line {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: rgba(128, 128, 128, 0.2);
    transform: translateX(-50%);
}

.point {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: rgba(186, 185, 185, 0.89);
    border-radius: 50%;
}

.word {
    color: rgba(128, 128, 128, 0.379);
    position: absolute;
    left: 15px;
    top: -5px;
    font-size: 22px;
    
    transition: all 0.3s ease;
}

.point:hover .word, .word.clicked {
    color: white;
}

.point.clicked .word {
    transform: translateX(50px);
}

.content-container {
    flex-grow: 1;
    padding: 40px 20px;
    color: white;
    overflow-y: auto;
    background-color: #0c0c0c;
}

.content {
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.content.active {
    display: block;
    opacity: 1;
}
.point:hover .hover-text {
    display: block;
}

.hover-text {
    display: none;
    position: absolute;
    top: -30px;
    left: 20px;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 100;
}
.eduk{
    margin-left: 100px;
    width: 900px;
    
}
.lika{
    display: flex; justify-content: space-around;padding: 10px;
}
.zisk{
    width: 200px;
}


@media (max-width: 768px) {
    .nav {
        display: none;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20px;
        transform: translateX(-100%);
    }
    .nav.active {
        display: flex;
        transform: translateX(0);
    }
    .content-container {
        padding: 10px;
    }
    .nav-toggle {
        font-size: 25px;
    }
}



#about h2 {
    font-size: 24px; /* Example font size */
    margin-bottom: 20px; /* Example margin bottom */
}

.about-section {
    display: flex;
    align-items: center;
}

.about-image {
    flex: 0 0 auto;
    margin-right: 30px; /* Adjust margin as needed */
}

.about-image img {
    width: 500px; /* Example width */
    height: auto;
     /* Example border radius for circular image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

.about-text {
   position: absolute;
   display: block;
   top:270px;
   left: 750px;
   width: 500px;
}

.beg {
    font-size: 22px; /* Example font size */
    line-height: 1.6; /* Example line height */
    font-family: Georgia, serif;
}
.desc {
    
    font-family: Helvetica, Arial, sans-serif;; /* Example line height */
}
.baq {
    margin: 5;
    height: 100%;
    
    font-family: 'Oxygen Mono', monospace;
    color: #999;
  }
  
  
  .rtp {
    text-align: left;
    margin: 0;
    text-transform: lowercase;
    font-size: 18px; /* Example font size */
    line-height: 1.6;
    font-weight: 900;
    width: 100%;
    display: none;
  }
  
  #table {
    display: table;
    width: 100%;
    height: 100%;
    
  }
  
  #centeralign {
    display: table-cell;
    vertical-align: middle;
  }

  .cte {
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: #eeeeee;
}

.pi {
    font-size: 12px;
    font-weight: light;
      color: #cccccc;
      margin-bottom: 20px;

}

.xo {
    font-size: 18px;
    color: #cccccc;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;
}

.xo:hover {
    color: #ffffff;
}
.folder-icon {
    color: #2F84FF;
}


@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translateY(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
}

.cr {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

.avatar img {
    width: 100%;
    height: auto;
}

.cs {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
}

.suppoprt-me {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 20vw;
    max-width: 250px;
    min-width: 200px;
    z-index: 9;
}

.suppoprt-me img {
    width: 100%;
    height: auto;
}
@keyframes tipsy {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  #animated-text {
    color: #eeeeee;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    letter-spacing: -3px;
    text-transform: uppercase;
    margin-top: 10px;
    transform: translateX(-50%) translateY(-50%);
  }
  .err{
   
    margin-left: 230px;
  }
  
  #animated-text:before,
  #animated-text:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  #animated-text:before {
    border-color: #2F84FF #2F84FF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  #animated-text:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2F84FF #2F84FF;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  }
  
  .contenu_carou_auto {
    
    margin: 2rem auto;
    width: 420px;
    height: 279px;
    perspective: 8000px;
}

.caroussel-image {
    animation: rotation 40s infinite linear;
    transform-style: preserve-3d;
    position: relative;
}

.caroussel-image img {
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0 12px 5px hsla(0, 0%, 0%, .4));
    width: 400px;
    height: 266px;
    outline: 1px solid transparent;
    backface-visibility: hidden;
}

.caroussel-image img:nth-child(1) {
    transform: translate3d(0, 0, 600px);
}

.caroussel-image img:nth-child(2) {
    transform: rotateY(40deg) translateZ(600px);
}

.caroussel-image img:nth-child(3) {
    transform: rotateY(80deg) translateZ(600px);
}

.caroussel-image img:nth-child(4) {
    transform: rotateY(120deg) translateZ(600px);
}

.caroussel-image img:nth-child(5) {
    transform: rotateY(160deg) translateZ(600px);
}

.caroussel-image img:nth-child(6) {
    transform: rotateY(200deg) translateZ(600px);
}

.caroussel-image img:nth-child(7) {
    transform: rotateY(240deg) translateZ(600px);
}

.caroussel-image img:nth-child(8) {
    transform: rotateY(280deg) translateZ(600px);
}

.caroussel-image img:nth-child(9) {
    transform: rotateY(320deg) translateZ(600px);
}

/* Adjust the rotation keyframes for smooth transition */
@keyframes rotation {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}
#certificats{
    padding:20px;
}
.skills-container {
    display: flex;
    justify-content: space-around;
    height: 425px;
    
}
.liba{
    height:365px; 
    width:420px;
    margin-left: 20px;
}
.skills-block {
    flex: 0 0 45%;
    
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.skills-block h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #a7a7a7;
}

 .stable {
    width: 36%;
    border-collapse: collapse;
    margin: 20px ;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    color: #333;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
.tiko{
    display: flex;
    justify-content: space-between;
    
}
  
@keyframes turn {
    from { transform: rotate3d(0, 0, 0, 0); }
    to { transform: rotate3d(1, 1, 0, 360deg); }
  }
  
  .cnn {
    width: 200px;
    height: 200px;
    perspective: 500px;
    margin: 100px;
  }
  
  .cute {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: turn 5s linear infinite;
  }
  
  .facel {
    width: 200px;
    height: 200px;
    background: #e74c3c ;
    border: 2px solid black;
    position: absolute;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    transition: transform 500ms;
  }
  
  .frontt {
    transform: translateZ(100px);
  }
  
  .backt {
    transform: translateZ(-100px) rotateY(180deg);
  }
  
  .leftt {
    transform: translateX(-100px) rotateY(-90deg);
  }
  
  .rightt {
    transform: translateX(100px) rotateY(90deg);
  }
  
  .topt {
    transform: translateY(-100px) rotateX(90deg);
  }
  
  .bottomt {
    transform: translateY(100px) rotateX(-90deg);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .cute {
      animation: none;
      transform: rotate3d(1, 1, 0, 45deg);
    }
  }

 
  @keyframes eyeColorChange {
    0%, 100% { background: #E6E6FA; }
    50% { background: #EED9C4; }
}



.eye {
    width: 200px;
    height: 200px;
    background: #E6E6FA;
    margin-top: 150px;
   
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 80% 0;
    overflow: hidden;
    cursor: pointer;
    animation: eyeMovement 10s infinite alternate ,eyeColorChange 10s infinite alternate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes eyeMovement {
    0% { transform: translate(-50%, -50%) rotate(45deg); }
    25% { transform: translate(-48%, -52%) rotate(45deg); }
    50% { transform: translate(-50%, -50%) rotate(45deg); }
    75% { transform: translate(-52%, -48%) rotate(45deg); }
    100% { transform: translate(-50%, -50%) rotate(45deg); }
}

.ball {
    width: 35px;
    height: 35px;
    background: #1F232F;
    border-radius: 50%;
    border: 30px solid color-mix(in srgb, #45B0D2, rgb(250, 250, 252));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pupilMovement 4s infinite alternate;
}

@keyframes pupilMovement {
    0% { transform: translate(-50%, -50%); }
    25% { transform: translate(-55%, -45%); }
    50% { transform: translate(-50%, -50%); }
    75% { transform: translate(-45%, -55%); }
    100% { transform: translate(-50%, -50%); }
}

.shut {
    width: 300px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 999;
}

.shut span {
    display: block;
    width: 100%;
    height: 15%;
    background:  #EED9C4;
    border-radius: 0 0 60% 60%;
    animation: shutAnimation 4s infinite alternate;
}

@keyframes shutAnimation {
    0% { height: 100%; }
    100% { height: 15%; }
}



.r, .r2, .r3, .r4, .r5, .r6 ,.r7 ,.r8{
    width: 10px;
    border: 0.5px outset #333;
    position: absolute;
}

.r {
    left: 110%;
    top: 50%;
}

.r2 {
    left: -50%;
    top: 50%;
}

.r3 {
    left: 30%;
    bottom: 130%;
    transform: rotate(90deg);
}

.r4 {
    left: 30%;
    bottom: -30%;
    transform: rotate(90deg);
}

.r5 {
    left: -27%;
    bottom: 105%;
    transform: rotate(45deg);
}

.r6 {
    left: 85%;
    bottom: -10%;
    transform: rotate(45deg);
}
.r7 {
    left: 90%;
    bottom: 100%;
    transform: rotate(135deg);
}
.r8 {
    left: -20%;
    bottom: -10%;
    transform: rotate(135deg);
}
.cir {

    color: white;
    display: flex;
height: 485px;
overflow: hidden;
    
}

.block {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}






@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Quicksand", sans-serif;
}

.ring {
position: relative;
width: 500px;
height: 425px;
display: flex;
justify-content: center;
align-items: center;
}
.ring i {
position: absolute;
inset: 0;
border: 2px solid #fff;
transition: 0.5s;
}
.ring i:nth-child(1) {
border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
animation: animate2 10s linear infinite;
}
.ring:hover i {
border: 6px solid var(--clr);
filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}
@keyframes animate2 {
0% {
transform: rotate(360deg);
}
100% {
transform: rotate(0deg);
}
}
.login {

font-size: 20px;
color: #fff;
}
.login :hover {
    filter: brightness(120%);
}


.perspective {

color: white;
cursor: pointer;
margin-bottom: 10px;
}


.glowIn {
    color: white;
    line-height: 1.6;
    letter-spacing: 2pt;
    
    
  }
  .glowIn span {
    animation: glow-in 0.8s both;
  }
  
  @keyframes glow-in {
    from {
      opacity: 0;
    }
    65% {
      opacity: 1;
      text-shadow: 0 0 25px white;
    }
    75% {
      opacity: 1;
    }
    to {
      opacity: 0.7;
    }
  }

  *,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}html{background:#000;}h1{position:absolute;top:5px;left:5px;font-family:sans-serif;color:#fff;}
b{display:block;padding:15px;font-size:24px;text-align:center;text-shadow:0 0 10px #08f;color:#fff;}

@keyframes i {
  to { transform: rotate(360deg); }
  from { transform: rotate(0deg); }
}
@keyframes ib {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(180deg); }
  100% { transform: rotateY(180deg); }
}
@keyframes ia {
  0% { box-shadow: 1px -39px 10px -5px #fff, -35px 34px 10px -5px #fff, 34px 35px 10px -5px #fff; }
  25% { box-shadow: 1px -39px 10px -5px #08f, -35px 34px 10px -5px #08f, 34px 35px 10px -5px #08f; }
  100% { box-shadow: 1px -39px 10px -5px #fff, -35px 34px 10px -5px #fff, 34px 35px 10px -5px #fff; }
}

.fi {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 25px 50px;
  border-radius: 50%;
  animation: i 1.5s infinite linear;
  transition-duration: 2s;
  &:before {
    content: "";
    display: inherit;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 10px solid #08f;
    box-shadow: inset 0 0 10px 0 #08f, 0 0 10px 0 #08f;
    animation: ib 2s infinite linear;
    transition-duration: 2s;
  }
  &:after {
    content: "";
    display: inherit;
    position: absolute;
    z-index: 1;
    top: 34px;
    left: 40px;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-radius: 50%;
    box-shadow:
      1px -39px 10px -5px #fff,
      -35px 34px 10px -5px #fff,
      34px 35px 10px -5px #fff;
    animation: ia 2s infinite;
  }
  &:hover {
    box-shadow: 0 0 100px 0 #0f0;
    &:before {
      border-color: #0f0;
      box-shadow: inset 0 0 10px 0 #0f0, 0 0 10px 0 #0f0;
    }
  }
}
.bat {
    width: 500px;
    height: 410px;
    background: radial-gradient(#046599, #03045E);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
    position: relative;
    padding-left: 50px;

}
.lila{
    display: flex;
    justify-content: space-around;
}
.centered-content {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    
}


.rgs {
    position: relative;
    width: 400px;
    height: 400px;
    animation-delay: 700ms;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 0; /* Ensure rings are behind text */
}

.rgs > .rg {
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    transform-origin: center;
    animation-duration: 4s;
    animation-delay: calc(0.4s * var(--delay));
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    filter: opacity(0);
    will-change: transform;
    overflow: hidden;
}

.rgs > .rg:nth-child(even) {
    border-color: whitesmoke;
    box-shadow: 0 0 4px #90E0ef, 0 0 20px #90E0ef, inset 0 0 4px #90E0ef,
        inset 0 0 20px #90E0ef;
}

.rgs > .rg:nth-child(odd) {
    border-color: whitesmoke;
    box-shadow: 0 0 4px #caf0f8, 0 0 20px #caf0f8, inset 0 0 4px #E4AFFF,
        inset 0 0 20px #caf0f8;
}

.rgs > .rg:first-child {
    width: 50px;
    margin: -25px 0 0 -25px;
}

.rgs > .rg:nth-child(2) {
    width: 64px;
    margin: -32px 0 0 -32px;
}

.rgs > .rg:nth-child(3) {
    width: 78px;
    margin: -39px 0 0 -39px;
}

.rgs > .rg:nth-child(4) {
    width: 92px;
    margin: -46px 0 0 -46px;
}

.rgs > .rg:nth-child(5) {
    width: 104px;
    margin: -52px 0 0 -52px;
}

.rgs > .rg:nth-child(6) {
    width: 118px;
    margin: -59px 0 0 -59px;
}

.anim-zoomIn {
    animation-name: zoomIn;
}

.anim-pan {
    animation-name: anim-pan;
}

@keyframes zoomIn {
    0% {
        transform: perspective(200px) translatez(0);
        filter: opacity(0);
    }

    60% {
        filter: opacity(100%);
    }

    100% {
        transform: perspective(200px) translatez(200px);
    }
}

@keyframes anim-pan {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(-50%, -45%, 0);
    }
    75% {
        transform: translate3d(45%, 35%, 0);
    }
    85% {
        transform: translate3d(-60%, 25%, 0);
    }
    0% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animateText {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.rg {
    aspect-ratio: 1/1;
}
.bof {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    perspective: 1000px;
    
  }

.coi {
    position: relative;
    width: 250px;
      height: 250px;
    perspective: 850px;
  }

  .color-cube {
    --cube-color: #8B0000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(-20deg) rotateY(-40deg);
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotateCube 5s linear infinite;
  }

  .cube-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: var(--cube-color);
    transition: background-color 500ms;
  }

  .cube-front {
    transform: translateZ(200px);
  }

  .cube-back {
    transform: rotateY(180deg) translateZ(200px);
  }

  .cube-bottom {
    transform: rotateX(-90deg) translateZ(200px);
  }

  .cube-top {
    transform: rotateX(90deg) translateZ(200px);
  }

  .cube-left {
    transform: rotateY(-90deg) translateZ(200px);
  }

  .cube-right {
    transform: rotateY(90deg) translateZ(200px);
  }

  .text-container {


    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
  }



  @keyframes rotateCube {
    to {
      transform: translate(-50%, -50%) rotateX(-20deg) rotateY(-400deg);
    }
  }
  .aspect {
    margin-top: 100px;
  
    
  }
    
  
  .ctra {
    display: flex;
    justify-content: space-around;
  }
  
  .circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    overflow: hidden; /* Ensure the photo doesn't overflow the circle */
    animation: circleAnimation 5s infinite;
  }
  
  .circle-photo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensure the photo covers the circle completely */
    border-radius: 50%;
  }
  
  .cosi {
    text-align: center;
    color: #f0f0f0; /* Changed to black for better readability */
    margin-bottom: 10px; /* Adjust spacing between content and arrow */
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff; /* Changed to black for visibility */
    animation: arrowAnimation 5s infinite;
    margin-bottom: 10px; /* Adjust spacing between arrow and circle */
  }
  
  @keyframes circleAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  @keyframes arrowAnimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  .bg-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the GIF is behind the content */
}

.bg-gif img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the GIF covers the entire container */
}
