body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
}

.container {
    display: flex;
    height: 100vh;
}

.navbar {
    width: 180px;
    background-color: #0c0c0c;
    padding-top: 20px;
    margin-left: 20px;
    position: relative; /* Ensure positioning context for pseudo-element */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 20px; /* Adjust spacing between points */
    position: relative;
     /* Ensure positioning context for pseudo-element */
}

.navbar a {
    color: white; /* Hide text */
    text-decoration: none;
    left: 3px;
    display: block;
    width: 5px; /* Size of the point */
    height: 5px; /* Size of the point */
    background-color: white;
    border-radius: 50%; /* Round the point */
    text-indent: -9999px; /* Hide text */
    position: relative; /* Ensure positioning context for pseudo-element */
    
}

.navbar-line {
    position: absolute;
    top: 0;
    left: 5px; /* Adjust position of the line */
    width: 1px; /* Width of the line */
    height: 100%; /* Make the line full height of the navbar */
    background-color: rgba(249, 249, 249, 0.893);
     /* Ensure the line is behind points */
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #0c0c0c;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

. {
    display: none;
}

.content-section.active {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
